@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700")
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:wght@100")
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
@import "ui"
@import "checkbox"
@import "slider"
@import "forms"
@import "mixins"
@import "variables"
@import "material"
@import 'material-design-colors/colors'

*,
*:after,
*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body
  padding: 0
  margin: 0
  // font-family: Nunito, sans-serif 
  font-family: $body-font
  color: #333
  font-size: $body-font-size
  font-weight: $body-font-weight
  line-height: 20px
  background-color: #fff

h1, h2, h3, h4, h5, h6
  font-weight: 400

.main
  display: flex
  justify-content: center
  background: #F5F5F5
  min-height: 100vh
  padding: 100px 40px
  top: 80px

.spacer
  flex-grow: 1

.lighter
  color: $lighter

@media only screen and (max-width: 767px)
  .main
    margin-left: 0px
    padding: 10px
